services:
  api:
    container_name: workmosm-api
    build:
      context: .
      dockerfile: WorkMosm.Api/Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Postgres=Host=host.docker.internal;Port=5460;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - Jwt__SecretKey=${JWT_SECRET}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
      - Jwt__ExpirationMinutes=60
      - APPLICATIONINSIGHTS_CONNECTION_STRING=${APPINSIGHTS_CS}
  